*{
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
    max-width: 1824px;
}

img{
    width: 100px;
}


.btn {
    background-color: #333;
    padding: 15px;
    display: block;
    color:white;
    display: inline-block;
    text-decoration: none;
}

:root{
    --input-padding:2px;
    --color-black:rgba(0, 0, 0, 0.836);
    --color-gray:rgb(109, 106, 106);
    --question-row-margin:30px;
    --longer-input-width:50%;
    --smaller-input-width:12%;
}

/*----- NOTICE/ START APP PAGE-----*/
#notice{ 
    height: 100vh;
}

.notice-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: auto;
}

.notice-text{
    text-align: center;
    line-height: 23px;
}

.logo-img{
    width: 130px;
    height: 100px;
    margin-bottom: 18px;
}

.logo-img-2-wrap{
    display: none;
}

.start-app-btn{
    margin-top: 20px;
    background-color:rgb(43, 64, 180);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}

.start-app-btn:hover{
    background-color:rgb(231, 160, 26);
}


/*----- APPLICATION PAGE-----*/
#app-section{
    background-color: rgb(197, 220, 241);
    padding: 50px;
}

form{
    padding: 50px 70px;
    background-color: white;
    border-radius: 20px;
}

.app-opening{
    display: flex;
    justify-content: space-between;
}

.app-title{
    font-size: 2rem;
    margin-bottom: 12px;
    color:var(--color-black);
}

.app-directions{
    color:var(--color-gray);
    font-weight: 400;
    font-size: 1.4rem;
}

.app-main-content{
    margin-top: 40px;
    padding: 20px;
    border-radius: 2%;
}

input,
textarea{
    margin-top: 7.8px;
    font-size: 1.2rem;
    border: 2px solid rgb(180, 176, 176);
    padding: 10px;
    border-radius: 10px;
}

.app-question{
    margin-bottom: 40px;
}

.app-question-text{
    color:var(--color-black);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 100px;
}
.fname{
    width: var(--longer-input-width);
}

.address{
    width: var(--longer-input-width);
}

.address-info-wrap{
    display: flex;
}

.address-info{
    margin-right: var(--question-row-margin);
}

.numbers{
    display: flex;
}

.home-num{
    margin-right: var(--question-row-margin);
}

.email-address-wrap{
    display: flex;
}

.email{
    margin-right: var(--question-row-margin);
}

.radio-option{
    font-size: 1.2rem;
}

.dif-name{
    width: var(--longer-input-width);
}

.checkbox-option{
    font-size: 1.2rem;
}

.languages{
    width: var(--longer-input-width);
}

.days-hours-available-wrap{
    font-size: 1.3rem;
    font-weight: 700;
}

.days-hours-available{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.day-time{
    margin-bottom: 50px;
}

.day-time-option{
    margin-top: 200px;
}

.submit-btn{
    background-color:rgb(43, 64, 180);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.submit-btn:hover{
    background-color:rgb(231, 160, 26);
}

.salary-desired{
    width: var(--smaller-input-width);
}

/*----- MEDIA QUERIES -----*/

@media (max-width: 1062px) {

    .address-info-wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 1022px) {

    .notice-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
        margin: auto;
    }

}

@media (max-width: 968px) {

    #app-section{
        background-color: rgb(197, 220, 241);
        padding: 40px;
    }    

    form{
        padding: 50px 50px;
        background-color: white;
        border-radius: 20px;
    }

    .app-title{
        font-size: 1.9rem;
        margin-bottom: 12px;
        color:var(--color-black);
    }

    .app-directions{
        color:var(--color-gray);
        font-weight: 400;
        font-size: 1.2rem;
    }

    .logo-img{
        width: 110px;
        height: 80px;
        margin-bottom: 18px;
    }

}


@media (max-width: 876px) {
    .days-hours-available{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 774px) {

    .notice-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: auto;
    }

    .logo-img-index{
        margin-bottom: 15px;
        width: 120px;
    }

}


@media (max-width: 764px) {

    .app-directions{
        color:var(--color-gray);
        font-weight: 400;
        font-size: .9rem;
    }

    .logo-img{
        width: 90px;
        height: 70px;
        margin-bottom: 18px;
    }

    .address-info-wrap{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .numbers{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .email-address-wrap{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    textarea{
        width: 90%;
    }

    .fname,
    .address{
        width: 70%;
    }

    .salary-desired{
        width: 20%;
    }
}


@media (max-width: 764px) {
    .app-opening{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-img{
        display: none;
    }

    .logo-img-2-wrap{
        display: flex;
        justify-content: center;
    }

    .logo-img-2{
        width: 100px;
        height: 80px;
        margin-bottom: 18px;
    }

    .app-title{
        text-align: center;
    }

    .app-directions{
        color:var(--color-gray);
        font-weight: 400;
        font-size: 1.1rem;
        text-align: center;
    }

    .days-hours-available{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}


@media (max-width: 636px) {

    .notice-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: auto;
        margin-bottom: 200px;
    }

    .logo-img-index{
        margin-top: 80px;
        margin-bottom: 15px;
        width: 120px;
    }

}


@media (max-width: 582px) {
    .languages{
        width: 80%;
    }
}


@media (max-width: 504px) {

    .logo-img-index{
        margin-top: 120px;
        margin-bottom: 15px;
        width: 120px;
    }

}

@media (max-width: 466px) {

    .logo-img-index{
        margin-top: 180px;
        margin-bottom: 15px;
        width: 120px;
    }

}


@media (max-width: 438px) {
    #app-section{
        background-color: rgb(197, 220, 241);
        padding: 30px;
    }    

    form{
        padding: 43px 20px;
        background-color: white;
        border-radius: 20px;
    }
}

@media (max-width: 428px) {

    .notice-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: auto;
        margin-bottom: 260px;
    }

    .logo-img-index{
        margin-top: 270px;
        margin-bottom: 15px;
        width: 120px;
    }

}

@media (max-width: 428px) {

    .notice-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: auto;
        margin-bottom: 330px;
    }

    .logo-img-index{
        margin-top: 320px;
        margin-bottom: 15px;
        width: 120px;
    }

}


@media (max-width: 350px) {

    .notice-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: auto;
        margin-bottom: 380px;
    }

    .logo-img-index{
        margin-top: 370px;
        margin-bottom: 15px;
        width: 120px;
    }

}


@media (max-width: 370px) {
    #app-section{
        background-color: rgb(197, 220, 241);
        padding: 15px;
    }    

    form{
        padding: 43px 1px;
        background-color: white;
        border-radius: 20px;
    }

    .fname{
        width: 100%;
    }

}


@media (max-width: 320px) {

    .notice-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: auto;
        margin-bottom: 490px;
    }

    .logo-img-index{
        margin-top: 485px;
        margin-bottom: 15px;
        width: 120px;
    }

}
