*{
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
    max-width: 1824px;
}

img{
    width: 100px;
}


.btn {
    background-color: #333;
    padding: 15px;
    display: block;
    color:white;
    display: inline-block;
    text-decoration: none;
}

:root{
    --input-padding:2px;
    --color-black:rgba(0, 0, 0, 0.836);
    --color-gray:rgb(109, 106, 106);
    --question-row-margin:30px;
    --longer-input-width:50%;
}

/*----- NOTICE/ START APP PAGE-----*/
#notice{ 
    height: 100vh;
}

.notice-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: auto;
}

.notice-text{
    text-align: center;
    line-height: 23px;
}

.logo-img{
    width: 130px;
    margin-bottom: 18px;
}

.start-app-btn{
    margin-top: 20px;
    background-color:rgb(43, 64, 180);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}

.start-app-btn:hover{
    background-color:rgb(231, 160, 26);
}


/*----- APPLICATION PAGE-----*/
#app-section{
    background-color: rgb(197, 220, 241);
    padding: 50px;

}

form{
    padding: 50px 70px;
    background-color: white;
    border-radius: 2%;
}

.app-opening{
    display: flex;
    justify-content: space-between;
}

.app-title{
    font-size: 2rem;
    margin-bottom: 12px;
    color:var(--color-black);
}

.app-directions{
    color:var(--color-gray);
    font-weight: 400;
    font-size: 1.4rem;
}

.app-main-content{
    margin-top: 40px;
    padding: 20px;
    border-radius: 2%;
}

input{
    margin-top: 7.8px;
    font-size: 1.2rem;
    border: 2px solid rgb(180, 176, 176);
    padding: 10px;
    border-radius: 10px;
}


.app-question{
    margin-bottom: 40px;
}

.app-question-text{
    color:var(--color-black);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 100px;
}
.fname{
    width: var(--longer-input-width);
}

.address{
    width: var(--longer-input-width);
}

.address-info-wrap{
    display: flex;
}

.address-info{
    margin-right: var(--question-row-margin);
}

.numbers{
    display: flex;
}

.home-num{
    margin-right: var(--question-row-margin);
}

.email-address-wrap{
    display: flex;
}

.email{
    margin-right: var(--question-row-margin);
}

.radio-option{
    font-size: 1.2rem;
}



.submit-btn{
    background-color:rgb(43, 64, 180);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.submit-btn:hover{
    background-color:rgb(231, 160, 26);
}

